.login_div {
  width: 100vw;
  height: 100vh;
  background: url('../../assets/images/background_img.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 10vh;
}
.login_title {
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 4px;
  margin-left: 200px;
}
.login-form {
  max-width: 340px;
  padding: 20px;
  padding-bottom: 0;
  margin-left: 200px;
  margin-top: 20px;
  border: 1px solid #dedede;
  border-radius: 4px;
  background-color: #ffffff;
}
.mobile {
  margin-top: 20px;
}
.login-form-forgot {
  float: right;
}
.ant-col-rtl .login-form-forgot {
  float: left;
}
.site-form-item-div {
  position: relative;
  margin-bottom: -32px;
}
.login-form-button {
  width: 100%;
}
.vertificatoin-code-input {
  width: 60%;
}
.vertificatoin-code-button {
  position: absolute;
  top: -56px;
  right: 0;
}

.dispalyNone {
  display: none;
}
